html, body {
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

header {
  height: 50px;
  width: auto;
  background-color: rgb(36, 55, 61);

}

header .hamburger-button{
  height: 100%;
  float: left;
  padding: 10px;
  margin-left: 100px;
}

header .hamburger-button img{
max-height: 30px;
cursor: pointer;

}

header .logo{
  height: 100%;
  float: left;
  padding: 10px; 

}

header .logo img{
  max-height: 30px;  
}

header .top-button-menu {
  float:left;
  height:100%;
  padding-left: 25px;

}

header .top-button-menu .words {
  float:left;
  height:100%;
  color: slategray;
  padding-left: 50px;
}

header .search-bar{
  height: 100%;
  float: left;
  padding-left: 20px;
  text-align: center;
}

header .input-nombre{
  height: 100%;
  float: left;
}