html, body {
  min-height: 100vh;
  margin: 0;
  width: 1000px;
  height: 1000px;
}

.product-breadcrumb {
  width: auto;
  height: 5%;
}
.product-main {
  width: 100%;
  height: 80%;
}

.carrousel-img {
  float: left;
  width: 50%;
  height: 50%; 
  border-bottom: solid 2px green;
  border-top: solid 2px green;
  padding-top: 1%;
  padding-bottom: 1%;
}

.carrousel-img img {
  height: 400px;
  margin: auto;
  display: block;
}

.right-product {
  float: left;
  width: 50%;
  height: 50%;
  border-bottom: solid 2px green;
  border-top: solid 2px green;
  padding-top: 1%;
  padding-bottom: 1%;
}

.product-title{
  border-bottom: solid 2px green;
  height: 20%;
  width: auto;
}
.product-desc-short {
  float: left;
  height: 80%;
  width: 50%;
 
}
.product-desc-short li{
  line-height: 200%;
}

.product-terms {
  float: right;
  width: 50%;
  height: 40%;
  border-bottom: solid 2px green;
}
.product-price {
  width: 100%;
  height: 50%;
  text-align: right; 
  float: right; 
}
.product-difs {
  text-align: right;
  width: 100%;
  height: 40%;
  float: right;
}
.product-difs p {
  line-height: 10%;
}

.quantity {
  width: 50%;
  height: 20%;
  float: right;
  text-align: right;
  line-height: 1%;
}

.buy-add-box {
  width: 50%;
  height: 20%;
  float: right;
  text-align: right;
}

.product-desc-long {
  float: left;
  height: 50%;
  width: auto;
}

@media (max-width: 600px) {
  .product-right{
    float: none;
  }
}