<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
	<link rel="stylesheet" href="/css/footer.css">
</head>

<body>
<!-- Footer -->
		  <!-- USP home-->
	 	<div class="colum-lg bg-dark text-center ">

			<div class="row row_usp d-none d-md-flex">

					<!-- Columna1 -->
					<div class="col-md usp ">
						<img src="/images/credit_footer2.png" alt="imagen footer" class="img-fluid h-50 d-inline-block rounded mx-auto d-block">
						<h5 class="text-uppercase text-center ">Pagá como quieras!</h5>
						<p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae minima quas nostrum quisquam, impedit porro</p>
					</div>
					<!-- Columna1 -->


					<!-- Columna2 -->
					<div class="col-md usp">
						<img src="/images/shipping_usp.png" alt="imagen footer" class="img-fluid h-50 d-inline-block rounded mx-auto d-block">
						<h5 class="text-uppercase text-center ">Envío gratis!</h5>
						<p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae minima quas nostrum quisquam, impedit porro</p>
					</div>
					<!-- Columna2 -->
					
					<!-- Columna3 -->
					<div class="col-md usp">
						<img src="/images/security_usp.png" alt="imagen footer" class="img-fluid h-50 d-inline-block rounded mx-auto d-block">
						<h5 class="text-uppercase text-center ">Seguridad, de principio a fin</h5>
						<p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae minima quas nostrum quisquam, impedit porro</p>
					</div>
					<!-- Columna3 -->
				</div>

			</div>
		  <!-- USP home-->
	
	  
		<!-- Navegación del footer -->
		
		<!-- Footer -->
<footer class="page-footer font-small bg-dark ">

		<!-- Footer Links -->
		<div class="container">
	  
		  <!-- Grid row-->
		  <div class="row text-center d-flex justify-content-center pt-5 mb-3">
	  
			<!-- Grid column -->
			<div class="col-md-2 mb-3">
			  <h6 class="text-uppercase font-weight-bold">
				<a href="#!">Home</a>
			  </h6>
			</div>
			<!-- Grid column -->
	  
			<!-- Grid column -->
			<div class="col-md-2 mb-3">
			  <h6 class="text-uppercase font-weight-bold">
				<a href="#!">Trabaja con nosotros</a>
			  </h6>
			</div>
			<!-- Grid column -->
	  
			<!-- Grid column -->
			<div class="col-md-2 mb-3">
			  <h6 class="text-uppercase font-weight-bold">
				<a href="#!">Sobre nosotros</a>
			  </h6>
			</div>
			<!-- Grid column -->
	  
			<!-- Grid column -->
			<div class="col-md-2 mb-3">
			  <h6 class="text-uppercase font-weight-bold">
				<a href="#!">Mi cuenta</a>
			  </h6>
			</div>
			<!-- Grid column -->
	  
			<!-- Grid column -->
			<div class="col-md-2 mb-3">
			  <h6 class="text-uppercase font-weight-bold">
				<a href="#!">Ayuda</a>
			  </h6>
			</div>
			<!-- Grid column -->
	  
		  </div>
		  <!-- Grid row-->
		  
		  <!-- Grid row-->
		  <hr class="clearfix rgba-white-light footer-line d-block">
	  
		  <!-- Grid row-->
		  <div class="row d-flex text-center justify-content-center mb-md-0 mb-0 footer-line">
	  
			<!-- Grid column -->
			<div class="col-md-8 col-12 mt-5">
			  <p style="line-height: 1.7rem">Nuestros productos +Green tiene como objetivo ofrecer la mayor oferta de productos sustentables tales como alimentos, artefactos para el hogar, energia y mucho mas pero siempre asegurando una excelente experiencia de compra.</p>
			</div>
			<!-- Grid column -->
	  
		  </div>
		  <!-- Grid row-->
		  <hr class="clearfix rgba-white-light footer-line d-block my-3 ">
	  
		  <!-- Grid row-->
		  <div class="row pb-12">
	  
			<!-- Grid column -->
			<div class="col-md-12 flex-center ">
	  
			  <div class="mb-0 flex-center" style="text-align: center">
	  
				<!-- Facebook -->
				<a class="fb-ic">
				  <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
				</a>
				<!-- Twitter -->
				<a class="tw-ic">
				  <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
				</a>
				<!-- Google +-->
				<a class="gplus-ic">
				  <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
				</a>
				<!--Linkedin -->
				<a class="li-ic">
				  <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
				</a>
				<!--Instagram-->
				<a class="ins-ic">
				  <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
				</a>
				<!--Pinterest-->
				<a class="pin-ic">
				  <i class="fab fa-pinterest fa-lg white-text"> </i>
				</a>
	  
			  </div>
	  
			</div>
			<!-- Grid column -->
	  
		  </div>
		  <!-- Grid row-->
	  
		</div>
		<!-- Footer Links -->
	  
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2020 Copyright:
		  <a href="https://mdbootstrap.com/education/bootstrap/"> PlusGreen.com</a>
		</div>
		<!-- Copyright -->
	  
	</footer>
	  <!-- Footer -->
		<!-- Copyright -->

	  <!-- Footer -->


</body>
</html>