<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
<!-- Footer -->

		<!-- Footer Links -->
		<div class="container-fluid text-center text-md-left">
	  
		  <!-- Grid row -->
		  <div class="row">
	  
			<!-- Grid column -->
			<div class="col-md-4 mb-md-0 mb-4">	  
			  <!-- Columna1 -->
				<!--<img src="/images/cash.png" alt=""> -->
			  	<h5 class="text-uppercase">Pagá como quieras!</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio impedit repellat vel consequatur, ad iusto sapiente sunt quo ex neque exercitationem recusandae nulla culpa et excepturi adipisci eveniet libero doloremque!</p>
			</div>

			<!-- Grid column -->
			<div class="col-md-4 mb-md-0 mb-4">
			<!-- columna2 -->
				<h5 class="text-uppercase">Envío gratis desde $500!</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio impedit repellat vel consequatur, ad iusto sapiente sunt quo ex neque exercitationem recusandae nulla culpa et excepturi adipisci eveniet libero doloremque!</p>
			</div>

			<!-- Grid column -->
			<div class="col-md-4 mb-md-0 mb-4">
			<!-- columna2 -->
				<h5 class="text-uppercase">Seguridad en todas tus compras</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio impedit repellat vel consequatur, ad iusto sapiente sunt quo ex neque exercitationem recusandae nulla culpa et excepturi adipisci eveniet libero doloremque!</p>
			</div>
			<!-- Grid column -->
	  
		  </div>
		  <!-- Grid row -->
	  
		</div>
		<!-- Footer Links -->
	  
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2018 Copyright:
		  <a href="####">Contactanos!</a>
		</div>
		<!-- Copyright -->

	  <!-- Footer -->


</body>
</html>