
<!-- Meto una fila para el row de productos-->
<div class="container mb-4">
	<div class="row">
		<!-- Arranco a crear el modulo de productos destacados-->
		<div class="col-6 col-md-3">
				<div class="card flex mx-1 mb-4">
						<img src="images/yerba-mate-mathienzo-seleccion-especial-500grs-D_NQ_NP_963563-MLA31632642441_072019-F.jpg" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Yerba Mate "Mathienzo"</h5>
						  <p class="card-text">La yerba favorita de Pablito Lescano</p>
						  <a href="#" class="btn btn-primary">Ver Producto</a>
						</div>
				</div>
		</div>
		<div class="col-6 col-md-3">
				<div class="card flex mx-1 mb-4">
						<img src="images/yerba-mate-mathienzo-seleccion-especial-500grs-D_NQ_NP_963563-MLA31632642441_072019-F.jpg" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Yerba Mate "Mathienzo"</h5>
						  <p class="card-text">La yerba favorita de Pablito Lescano</p>
						  <a href="#" class="btn btn-primary">Ver Producto</a>
						</div>
				</div>
		</div>
		<div class="col-6 col-md-3">
				<div class="card flex mx-1">
						<img src="images/yerba-mate-mathienzo-seleccion-especial-500grs-D_NQ_NP_963563-MLA31632642441_072019-F.jpg" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Yerba Mate "Mathienzo"</h5>
						  <p class="card-text">La yerba favorita de Pablito Lescano</p>
						  <a href="#" class="btn btn-primary">Ver Producto</a>
						</div>
				</div>
		</div>
		<div class="col-6 col-md-3">
				<div class="card flex mx-1">
						<img src="images/yerba-mate-mathienzo-seleccion-especial-500grs-D_NQ_NP_963563-MLA31632642441_072019-F.jpg" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">Yerba Mate "Mathienzo"</h5>
						  <p class="card-text">La yerba favorita de Pablito Lescano</p>
						  <a href="#" class="btn btn-primary">Ver Producto</a>
						</div>
				</div>
		</div>		
       <!--Terminado modulo de productos destacados-->
	</div>
</div>
<!-- Terminado el row de productos-->

