<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>+Green</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<header>
		<!--Menu Hamburguesa-->
		<div class="hamburger-button">
			<img src="/images/hamburger-icon.png">
		</div>
		<!--Logo-->
		<div class="logo">
			<img src="/images/logo.png">
		</div>
		<div class='top-button-menu'>
			<div class='words'>
				<p>Word1</p>
			</div>
			<div class='words'>
				<p>Word2</p>
			</div>
			<div class='words'>
				<p>Word3</p>		
			</div>
			<div class='words'>
				<p>Search</p>		
			</div>
		</div>
		<form class="search-form">
			<div class="search-box">
				<input type="search" name="q" placeholder="Buscá lo que quieras!">
				<button>Buscar</button>
			</div>
		</form>
		<div class="user-logo">
			<img src="/images/user-logo.png">
		</div>
		<div class="white-cart">
			<img src="/images/white-cart.png">
		</div>
	</header>
	<main>

	</main>
</body>
</html>