<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Detalle de Producto</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
<body>

<div class="container">
	<div class="row">
		<div class="col-12">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Library</a></li>
					<li class="breadcrumb-item active" aria-current="page">Salsas de Tomate</li>
				</ol>
			</nav>

		</div>
	</div>
</div>

<div class="container">
	<div class="row">

		<div class="col-6">
			<img src="/images/yerba-mate-mathienzo-seleccion-especial-500grs-D_NQ_NP_963563-MLA31632642441_072019-F.jpg" class="img-fluid" alt="Responsive image">		
		</div>

		<div class="col-6">

				<div class="row">

					<div class="col-12">
						<h2>Titulo del producto</h2>
					</div>

				</div>

				<div class="row">
					<div class="col-6">
						<ol>
							<li>Atributo 1</li>
							<li>Atributo 2</li>
							<li>Atributo 3</li>
						</ol>
					</div>
					<div class="col-6">
						<h4>Precio anterior $2999</h4>
						<h4>Precio Oferta $1999</h4>
						<p>Hasta 12 cuotas sin interes</p>
						<p>Recibilo en 2 dias</p>
						<p>Tu compra ayuda al medioambiente</p>
					</div>
				</div>
				<div class="row">
					  <div class="col-12 d-flex justify-content-end">
					     <button type="button" class="btn btn-secondary m-2">Agregar al Carrito</button>
						 <button type="button" class="btn btn-primary m-2">Comprar</button>
					  </div>
				</div>

		</div>
	
	</div>
</div>












<!-- SCRIPTS PARA LEVANTAR ONLINE BOOSTRAP -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

</body>
</html>