<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head',{title:'Bienvenidos a +Green'});%>

<body>
	<%- include('partials/header');%>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Library</a></li>
						<li class="breadcrumb-item active" aria-current="page">Salsas de Tomate</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<img src="/images/yerba-mate-mathienzo-seleccion-especial-500grs-D_NQ_NP_963563-MLA31632642441_072019-F.jpg" class="img-fluid" alt="Responsive image">		
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-12">
						<h2>Titulo del producto</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<ol>
							<li>Atributo 1</li>
							<li>Atributo 2</li>
							<li>Atributo 3</li>
						</ol>
					</div>
					<div class="col-6">
						<h4>Precio anterior $2999</h4>
						<h4>Precio Oferta $1999</h4>
						<p>Hasta 12 cuotas sin interes</p>
						<p>Recibilo en 2 dias</p>
						<p>Tu compra ayuda al medioambiente</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 d-flex justify-content-end">
						<button type="button" class="btn btn-secondary m-2">Agregar al Carrito</button>
						<button type="button" class="btn btn-primary m-2">Comprar</button>
					</div>
				</div>
			</div>	
		</div>
	</div>

	<%- include('partials/footer');%>
	<%- include('partials/scripts');%>

</body>
</html>