<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head',{title: "producto"});%>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
	<%- include('partials/header');%>

	<!--Banner de la categoria-->
	<div class="container mb-4" style="height: 250px">
		<div class="row h-100">
			<!--Teaser-->
			<div class="col-12 h-100">
				<img src="images/banner_meli.jpg" class="img-fluid h-100 w-100" alt="Responsive image">
			</div>
			<!--Teaser Terminado-->
		</div>
	</div>
	<!--Terminado-->

	<!-- Meto una fila para el row de productos-->
	<div class="container mb-4">
		<!-- Primera row del listado de productos-->
		<div class="row">
			<div class="col-6 col-md-3" > 
				<a href="www.google.com.ar">
					<div class="card flex mx-1 mb-4" >
						<img src="images/cat.png"	class="card-img-top img-circle" alt="Responsive Image" >
							
						<div class="card-body" style="font-size: 14px ">
							<h5 class="card-title" style="font-size: 16px">Nombre de item</h5>
							<p>$$$$$</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-6 col-md-3">
				<a href="www.google.com.ar">
					<div class="card flex mx-1 mb-4">
						<img src="images/cat.png"
							class="card-img-top" alt="...">
							
						<div class="card-body" style="font-size: 14px">
							<h5 class="card-title" style="font-size: 16px">Nombre de item</h5>
							<p>$$$$$</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-6 col-md-3">
				<a href="www.google.com.ar">
					<div class="card flex mx-1 mb-4">
						<img src="images/cat.png"
							class="card-img-top" alt="...">
							
						<div class="card-body" style="font-size: 14px">
							<h5 class="card-title" style="font-size: 16px">Nombre de item</h5>
							<p>$$$$$</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-6 col-md-3">
				<a href="www.google.com.ar">
					<div class="card flex mx-1 mb-4">
						<img src="images/cat.png"
							class="card-img-top" alt="...">
							
						<div class="card-body" style="font-size: 14px">
							<h5 class="card-title" style="font-size: 16px">Nombre de item</h5>
							<p>$$$$$</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- Terminada la primera row de productos-->
		<!-- Meto una fila para el row de productos-->
		<div class="container mb-4">
			<!-- Primera row del listado de productos-->
			<div class="row">
				<div class="col-6 col-md-3" > 
					<a href="www.google.com.ar">
						<div class="card flex mx-1 mb-4" >
							<img src="images/cat.png"	class="card-img-top img-circle" alt="Responsive Image" >
								
							<div class="card-body" style="font-size: 14px ">
								<h5 class="card-title" style="font-size: 16px">Nombre de item</h5>
								<p>$$$$$</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-md-3">
					<a href="www.google.com.ar">
						<div class="card flex mx-1 mb-4">
							<img src="images/cat.png"
								class="card-img-top" alt="...">
								
							<div class="card-body" style="font-size: 14px">
								<h5 class="card-title" style="font-size: 16px">Nombre de item</h5>
								<p>$$$$$</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-md-3">
					<a href="www.google.com.ar">
						<div class="card flex mx-1 mb-4">
							<img src="images/cat.png"
								class="card-img-top" alt="...">
								
							<div class="card-body" style="font-size: 14px">
								<h5 class="card-title" style="font-size: 16px">Nombre de item</h5>
								<p>$$$$$</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-md-3">
					<a href="www.google.com.ar">
						<div class="card flex mx-1 mb-4">
							<img src="images/cat.png"
								class="card-img-top" alt="...">
								
							<div class="card-body" style="font-size: 14px">
								<h5 class="card-title" style="font-size: 16px">Nombre de item</h5>
								<p>$$$$$</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- Terminada la primera row de productos-->


	<%- include('partials/footer');%>
	<%- include('partials/scripts');%>

</body>
</html>