<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Comprar Tomate Triturado </title>
	<link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
	<div class="product-breadcrumb">
		<p> Alimentos >> Salsas y Aderezos >> Tomate </p>
	</div>
	<div class="product-main">
		<div class="carrousel-img"> 
			<img src="images/tomate.webp">
		</div>
		<div class="right-product">
			<div class="product-title">
				<h2>Tomate Triturado Orgánico Certificado Sin Tacc Terrasana</h2>
			</div>
			<div class="product-desc-short">
               <ul>
				   <li>Orgánico certificado</li>
				   <li>No produce acidez estomacal</li>
				   <li>Pasteurizado con baño maria</li>
				   <li>Vencimiento: Marzo 2021</li>
			   </ul>
			</div>
			<div class="product-terms">
			    <div class="product-price">
					<h3>$2000</h3>
					<h3>$1800</h3>
			    </div>
			    <div class="product-difs">
				<p>Hasta 12 cuotas sin interes!<p>
				<p>Llega en 2 dias<p>
				<p>Devolucion gratuita<p>
				</div>
			</div>	
			<div class="quantity">
				<h4>Cantidad</h4>
					<select name="selector-cantidad" class="selector-cantidad">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
			</div>
			<div class="buy-add-box">		
				    <div class="buy-button">
				    <button type="button">Comprar</button>
				    </div>
			        <div class="addtocart-button">
			        <button type="button">Agregar al Carrito</button>
				    </div>
			</div>
		</div>
		<div class="product-desc-long">
					<h3>Ficha Tecnica</h3>
					<p>TOMATE TRITURADO ORGANICO CERTIFICADO. SIN     TACC. LIBRE DE GLUTEN. TERRASANA X LT</p>
					<p>Al ser 100 % Orgánico no produce acidez ni ardor estomacal
							
					Elaborado artesanalmente con tomates orgánicos seleccionados en forma manual y cultivados en un ambiente ecológico, libre de fertilizantes, herbicidas e insecticidas quimicos.
					No contiene Conservantes ni ningun otro agregado.
					Pasteurizado con Baño Maria
							
					Ingredientes: Tomates Naturales Orgánicos
							
					Vencimiento: Marzo 2021</p>
		</div>
	</div>
</body>
</html>