<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head',{title:'Bienvenidos a +Green'});%>

<body>
	<%- include('partials/header');%>

	<div class="product_list">
		<h1>Mi carrito</h1>
		<div class="product">
				<img class="image" src="/images/producto1.png" >
		<div class="descripcion">
					<h2>Nombre del producto</h2>
					<p>Descripción corta del producto</p>
		</div>
		<select name="selector" class="selector_cantidad">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option title="5">Eliminar</option>
		</select>
		</div>
		<div class="monto">
			<h1>$$$$$</h1>
		</div>

	</div>

	<div class="cart_summary">

			<h1>cart sumarry</h1>
	
	</div>

	<%- include('partials/footer');%>
	<%- include('partials/scripts');%>

</body>
</html>