	<!-- NavBar -->
	<header class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
		<div class="container">
			<div class="row" style="margin:0px">
				<!-- col de Menu Hamburguesa y Logo-->
				<div class="col-sm-4 col-md-3 col-lg-1">
					<button class="navbar-toggler mr-5 " type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand d-none d-sm-block" href="#">+Green</a>
					<a class="navbar-brand d-block d-sm-none " href="#">+G</a>
				</div>

				<!-- Menu ppal. -->
				<div class="collapse navbar-collapse col-md-4 col-lg-6	" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" style="color:#00aca0" href="/">Home
								<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:#00aca0" href="/categorias">Categorías</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:#00aca0" href="/contacto">Contacto</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="color:#00aca0" href="/about-us">¿Quienes Somos?</a>
						</li>
					</ul>
				</div>
				<!-- col de SEARCHBAR + ICON-->
				<div class="col-sm-6 col-md-4 col-lg-3">
					<!-- SearchBar -->
					<form class="form-inline my-2 my-lg-0" style="flex-flow: unset;">
						<input class="form-control mr-sm-2" type="text" placeholder="Buscá lo que querés!"
							aria-label="Search">

						<button class="btn btn-outline-secondary ml-2 my-sm-0" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</form>
				</div>
				<!-- col de USER PROFILE y CART-->
				<div class="col-md-1 col-lg-2">
					<!-- User Profile -->
					<a href="/account">
						<i class="fas fa-user topBarIcons"></i>
					</a>
					<!-- Cart -->
					<a href="/cart">
						<i class="fas fa-shopping-cart topBarIcons"></i>
					</a>
				</div>
			</div>
		</div>
    </header>
    