<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head',{title:'Bienvenidos a +Green'});%>

	<body>
		<%- include('partials/header');%>


		<h1>Registrate!</h1>
		<form action="/register/create" method="POST">
			<div>
				<label>Nombre del usuario:</label>
				<input type="text" name="userName">
			</div>
			<div>
				<label>Contraseña:</label>
				<input type="password" name="userPassword1">
			</div>
			<div>
				<label>Repetir contraseña:</label>
				<input type="password" name="userPassword2">
			</div>
			<button type="submit">Confirmar!</button>
		</form>
	</body>


	<%- include('partials/footer');%>
	<%- include('partials/scripts');%>
</html>

