<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head',{title:'Bienvenidos a +Green'});%>

	<body>
		<%- include('partials/header');%>


		<h1>Registrate!</h1>
		<form action="/register" method="POST" enctype='multipart/form-data'>
			<div>
				<label>Nombre</label>
				<input type="text" name="first_name" placeholder="Juan">
			</div>
			<div>
				<label>Apellido</label>
				<input type="text" name="last_name" placeholder="Pérez">
			</div>
			<div>
				<label>Email</label>
				<input type="email" name="email" placeholder="jperez@gmail.com">
			</div>
			<div>
				<label>Contraseña</label>
				<input type="password" name="password">
			</div>
			<div>
				<label>Repetir contraseña</label>
				<input type="password" name="rePassword">
			</div>
			<div>
				<label>Foto de Perfil</label>
				<input type="file" name="image">
			</div>
			<button type="submit">Registrarse</button>
		</form>
	</body>


	<%- include('partials/footer');%>
	<%- include('partials/scripts');%>
</html>

