<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" href="/css/register.css">
</head>
<body>
	<body>
		<h1>Registrate!</h1>
		<form action="/register/create" method="POST">
			<div>
				<label>Nombre del usuario:</label>
				<input type="text" name="userName">
			</div>
			<div>
				<label>Contraseña:</label>
				<input type="password" name="userPassword1">
			</div>
			<div>
				<label>Repetir contraseña:</label>
				<input type="password" name="userPassword2">
			</div>
			<button type="submit">Confirmar!</button>
		</form>
	</body>
</body>
</html>

